*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
   /* font-size: 12px;*/
    color : black;
}
.menu-btn{

   cursor: pointer;
   position: absolute;
   z-index: 1;
   right: 0;
   top: 20px;
   display: none;


}
.logo{
    width: 130px;
}

a{
    text-decoration: none;
    color: #262626;
}
.main-nav ul{
    list-style: none;
    display: flex;
}


.container{
    margin: auto;
    width: 90%;
    max-width: 1100px;
    position: relative;
    
   
}
.main-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
    justify-content: space-between;
}
.main-menu{
    flex: 1;
    margin-left: 10px;
    
}
.main-menu li{
    padding: 0 13px;

}
.main-menu li a{
    padding-bottom: 2px;
}
.main-menu li a:hover{

    border-bottom: 2px solid #262626;
    
}
.right-menu li{
    padding: 0 5px;;
}

.btn{
    padding: 10px 20px;
    background-color: #262626;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
   
}
.btn:hover{
    opacity: 0.8;
}

.showcase{
    background: url('https://i.ibb.co/zGSDGCL/slide1.png')  center/cover;
    width: 100%;
    height: 400px;
   
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.showcase h2, .showcase p{
     
    margin-bottom: 10px;


}

.showcase .btn
{
    margin-top: 20px;
}





.card-section{
 
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;

}
.card-section img{
    width: 100%;
    margin-bottom: 20px;
}
.card-section h1{

       margin-bottom: 10px;
       color: #262626;

}
.card-section a{
    font-weight: bold;
    color: #0067b8;
    font-size: 16px;
 
 
}
.card-section p{
    color: grey;
    font-size: 15px;
    margin-bottom: 10px;
}
.card-section a:hover i{
    margin-left: 10px;
}

.xbox{
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') center center/cover;
    margin-bottom: 10px;
}
.xbox a{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}
.xbox a:hover{
    opacity: 0.8;
}
.xbox-data
{
    width: 40%;
    padding: 50px 0 0 30px;
}
.xbox p{

    font-size: 16px;
    margin-top: 20px;

}




.carbon-section{
    height:350px;
    width: 100%;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') center center/cover;
    margin-bottom: 10px;
}
.carbon-section div{
    width: 50%;
    color: #f4f4f4;
   
    padding: 100px 0 0 30px;
}
.carbon-section a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    
    background-color: #f4f4f4;
}
.carbon-section p{
   
    color: #f4f4f4;
    margin-top: 20px;
}

.follow{
    display: flex;
    padding: 20px 20px 20px 0;
    align-items: center;
}
.follow a{
    margin-left: 10px;
}


.links{
    background-color: #f2f2f2;
    padding: 35px 0;
   

}
.links-inner ul{
    list-style: none;
}
.links-inner{
    justify-content: center;
    margin :0 auto;
    padding: 0 40px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.links-inner h3{
    
    font-weight: bold;
    opacity: 0.6;
}
.links-inner li {
    line-height: 2.8;
    font-size: 12px;
}

.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
  }

  .footer ul{
      list-style: none;

  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer div i {
    margin-right: 10px;
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }

 
@media(max-width: 800px){

    .menu-btn{
        display: block;
    }
    .main-nav ul{
        display: none;
    }

     .card-section{
         grid-template-columns: repeat(2,1fr);

     }     
    .links-inner{
        
        grid-template-columns: repeat(3,1fr);
    }
  
    .xbox p{
        display: none;
    }
    .carbon-section div{
        width: 85%;
    }
    .menu-btn {
        display: block;
      }
    
      .menu-btn:hover {
        opacity: 0.5;
      }
    
      .main-nav ul.right-menu {
        margin-right: 50px;
      }
    
      .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
      }
    
      .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
      }
    
      .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
      }
    
      .main-nav ul.main-menu.show {
         
        transform: translateX(-20px);
      }
    

}

@media(max-width: 500px){

    .card-section{
        grid-template-columns: 1fr;

    }     
   .links-inner{
       
       grid-template-columns:repeat(2,1fr);
   }
   .footer ul{
       margin-left: 50px;
   }
}





